{% extends 'base.html' %}

{% block body %}
  <section class="header">
    <h2 class="title">IRIS Flower Prediction!</h2>
  </section>
  <hr />

  <div class="content">
    <h4>
      {% if prediction %}
      OMG It is a {{ prediction }}.
      {% else %}
        Please fill out the form below!
      {% endif %}
    </h4>
    <form method="POST">
      {{ form.hidden_tag() }}
      <div class="row">
        <div class="three columns">
          {{ form.sepal_length.label }} {{ form.sepal_length() }}
        </div>
        <div class="three columns">
          {{ form.sepal_width.label }} {{ form.sepal_width() }}
        </div>
        <div class="three columns">
          {{ form.petal_length.label }} {{ form.petal_length() }}
        </div>
        <div class="three columns">
          {{ form.petal_width.label }} {{ form.petal_width() }}
        </div>
      </div>
      <div class="row">
        <button type="submit" class="button-primary">Submit</button>
      </div>
      <div class="row">
        <svg></svg>
      </div>
    </form>
    <div
  </div>
{% endblock body %}

{% block js %}
  <script type="text/javascript">

  // Data from Flask to D3
  var data = {{iris_data | safe}};

  // Credits: https://bl.ocks.org/mbostock/3887118
    var margin = {top: 20, right: 20, bottom: 30, left: 40},
        width = 960 - margin.left - margin.right,
        height = 300 - margin.top - margin.bottom;

    var x = d3.scaleLinear()
        .range([0, width]);

    var y = d3.scaleLinear()
        .range([height, 0]);

    var color = d3.scaleOrdinal(d3.schemeCategory10);

    var xAxis = d3.axisBottom()
        .scale(x);

    var yAxis = d3.axisLeft()
        .scale(y);

    var svg = d3.select("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
      .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

      x.domain(d3.extent(data, function(d) { return d.sepalWidth; })).nice();
      y.domain(d3.extent(data, function(d) { return d.sepalLength; })).nice();

      svg.append("g")
          .attr("class", "x axis")
          .attr("transform", "translate(0," + height + ")")
          .call(xAxis)
        .append("text")
          .attr("class", "label")
          .attr("x", width)
          .attr("y", -6)
          .style("text-anchor", "end")
          .text("Sepal Width (cm)");

      svg.append("g")
          .attr("class", "y axis")
          .call(yAxis)
        .append("text")
          .attr("class", "label")
          .attr("transform", "rotate(-90)")
          .attr("y", 6)
          .attr("dy", ".71em")
          .style("text-anchor", "end")
          .text("Sepal Length (cm)")

      svg.selectAll(".dot")
          .data(data)
        .enter().append("circle")
          .attr("class", "dot")
          .attr("r", 3.5)
          .attr("cx", function(d) { return x(d.sepalWidth); })
          .attr("cy", function(d) { return y(d.sepalLength); })
          .style("fill", function(d) { return color(d.species); });

      var legend = svg.selectAll(".legend")
          .data(color.domain())
        .enter().append("g")
          .attr("class", "legend")
          .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

      legend.append("rect")
          .attr("x", width - 18)
          .attr("width", 18)
          .attr("height", 18)
          .style("fill", color);

      legend.append("text")
          .attr("x", width - 24)
          .attr("y", 9)
          .attr("dy", ".35em")
          .style("text-anchor", "end")
          .text(function(d) { return d; });
  </script>
{% endblock js %}